.footer-section {
  height: 100vh;
  overflow: hidden;
  background-color: #0f0f0f;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 72px;

  .footer-section-main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;

    .footer-section-main-wrapper {
      width: 70vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer-section-main-wrapper-txt {
        font-size: 12px;
        text-transform: uppercase;
        color: #f9f9f9;
      }

      .footer-section-main-wrapper-contacts {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .footer-section-main-wrapper-contaacts-links {
          font-size: 12px;
          text-transform: uppercase;
          color: #f9f9f9;
          text-decoration: underline;
        }
      }

      .footer-section-main-wrapper-navigation {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .footer-section-main-wrapper-navigation-links {
          font-size: 12px;
          text-transform: uppercase;
          color: #f9f9f9;
          text-decoration: underline;
        }
      }
    }
  }

  .footer-section-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer-section-header-heaading {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .footer-section-header-heaading-h {
        font-size: 200px;
        color: white;
        text-transform: capitalize;
      }
    }

    .footer-section-header-image {
      width: 389px;
      height: 448px;
    }
  }
}
