.home-route {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .home-route-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;

    .home-route-wrapper-aside {
      width: 15%;
      height: calc(100vh - 32px);
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-content: flex-end;
      .home-route-wrapper-aside-links {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 13px;
        text-transform: uppercase;
      }
    }

    .home-route-wrapper-main {
      width: 85%;
      padding: 0 116px;
      display: flex;
      flex-direction: column;
      gap: 56px;

      .home-route-wrapper-main-header {
        display: flex;
        flex-direction: column;

        .home-route-wrapper-main-header-h {
          font-family: var(--font-jersey10);
          font-size: 96px;
          text-transform: lowercase;
          color: rgb(0, 0, 0, 0.5);
          span {
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}
