.project-template {
  display: flex;
  flex-direction: column;
  gap: 72px;

  .project-template-hero {
    position: relative;
    width: 100%;
    height: 640px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: -16px;

    .project-template-hero-p {
      color: white;
      text-transform: lowercase;
      font-size: 96px;
      font-family: var(--font-jersey10);
      line-height: 1;
      overflow: hidden;
    }
  }

  /*  */
  .project-template-problem,
  .project-template-speciality {
    display: flex;
    flex-direction: row;
    padding-top: 72px;
    border-top: 0.75px solid rgb(0, 0, 0, 0.5);
  }

  .project-template-problem-title,
  .project-template-speciality-title {
    font-size: 14px;
    color: rgb(0, 0, 0, 0.5);
    text-transform: uppercase;
    width: 50%;
  }

  .project-template-problem-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;

    .project-template-problem-wrapper-par {
      font-size: 18px;
      text-transform: capitalize;
    }
  }

  .project-template-speciality-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;

    .project-template-speciality-wrapper-par {
      width: 100%;
      font-size: 18px;
      text-transform: capitalize;
      padding: 32px 0;

      border-top: 0.5px solid rgb(0, 0, 0, 0.5);
    }
  }
}
