.home {
  display: flex;
  flex-direction: row;
  padding: 32px;
  position: relative;

  @media (max-width: 992px) {
    padding: 0 8px;
  }

  .home-aside {
    width: 15%;
    height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-end;
    padding-bottom: 12px;
    position: sticky;
    top: 0;

    @media (max-width: 992px) {
      display: none;
    }

    .home-aside-title {
      font-size: var(--font-par);
      text-transform: uppercase;
    }

    .home-aside-p {
      cursor: pointer;
      font-size: var(--font-par);
      color: rgb(0, 0, 0, 0.5);
      text-transform: uppercase;
    }
  }

  .home-main {
    width: 85%;
    padding-left: var(--padding-wrapper);
    padding-right: var(--padding-wrapper);
    display: flex;
    flex-direction: column;
    gap: 56px;

    @media (max-width: 992px) {
      width: 100%;
    }

    .home-main-title {
      font-family: var(--font-jersey10);
      font-size: var(--font-title-xl);
      text-transform: lowercase;
      color: rgb(0, 0, 0, 0.5);
      span {
        color: rgb(0, 0, 0);
      }
    }

    .home-main-desc {
      background-color: black;
      border-radius: 1000px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      width: fit-content;
      color: white;
      font-size: var(--font-par);

      img {
        height: 14px;
      }
    }

    .home-main-footer {
      height: calc(100vh - 32px);
      display: flex;
      flex-direction: column;
      gap: 16px;

      .home-main-fooeter-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        height: 100%;

        .home-main-fooeter-wrapper-h3 {
          font-size: clamp(1.728rem, 1.576rem + 0.76vw, 2.488rem);
          font-family: var(--font-RedHatDisplay);
          font-style: italic;
        }

        .home-main-fooeter-wrapper-par {
          padding: 8px 16px;
          border: 1px solid black;
          border-radius: 100px;
          font-size: var(--font-par);
        }
      }

      .home-main-fooeter-h1 {
        font-family: var(--font-jersey10);
        font-size: var(--font-title-xl);
        align-self: center;
      }
    }
  }
}
